/* ===================================
Project Name 	:  Musik Concert Landing Page 
File 			:  CSS Base
Version 		:  1.0;
Author 			:  
Developer:		:  

=====================================*/
/* ==================================
CSS table Of content

    01. Base style
    02. Typography style

=====================================*/
:root {
  --headingFont: 'Montserrat', sans-serif;
  --bodyFont: 'Raleway', sans-serif;
  --themeColor: #381ddb;
  --whiteColor: #ffffff;
  --darkColor: #222222;
  --generalRed: #fc5252;
  --lightRed: #ffa3a3;
  --grayColor: #e0e0e0;
  --lightColor: #f8f8f8;
  --yellowColor: #db841d;
  --borderColor: #e0e0e0;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1170px;
  }
}

@media (max-width: 767px) {
  .about-img img {
    width: 100%;
  }
  .about-content {
    text-align: center;
  }
  .section-title {
    margin-top: 30px;
  }
  .singer-content {
    text-align: center;
  }
  .singer-btn {
    margin-bottom: 30px;
  }
}

/* ----------------
    01. Base style
-------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 120px 0;
}

.section-title {
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 34px;
  line-height: 44.2px;
  font-weight: 700;
}

.section-title h2 span {
  color: var(--themeColor);
}

/* ---------------
    02. Typography style
 ------------------*/
body {
  font-family: var(--bodyFont);
  font-weight: 400;
  color: var(--darkColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
  font-weight: 700;
}

p {
  font-size: 16px;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 24px;
}

/* ---------------
    03. Buttons style
 ------------------*/
.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  padding: 0 34px;
  border-radius: 8px;
  color: var(--whiteColor);
  -webkit-transition: all(0.3s);
  transition: all(0.3s);
  background: var(--themeColor);
}

.btn:hover {
  background: var(--generalRed);
  color: var(--whiteColor);
}

.btn img {
  margin-left: 15px;
}

.btn.btn-outline {
  color: var(--themeColor);
  background: transparent;
  border: 1px solid var(--themeColor);
}

.btn.btn-outline:hover {
  background: var(--themeColor);
  color: var(--whiteColor);
}

.btn.btn-full-width {
  width: 100%;
}

.btn-white {
  background: var(--whiteColor);
  color: var(--themeColor);
}

.btn-read {
  background: var(--generalRed);
  color: var(--whiteColor);
}

.btn-read:hover {
  background: var(--whiteColor);
  color: var(--themeColor);
}

/* ---------------
    04. Header area style
 ------------------*/
.header-area {
  color: var(--whiteColor);
  height: 120px;
  line-height: 120px;
  position: relative;
  z-index: 1;
}

.header-area a {
  color: var(--whiteColor);
}

.main-nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .main-nav-bar {
    display: inherit;
  }
}

.main-nav-bar .btn {
  margin-left: 40px;
}

.nav-bar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .nav-bar-nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav-link:focus,
.nav-link:hover {
  color: inherit;
}

.nav-link {
  font-family: var(--headingFont);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 20px;
  padding: 0 20px;
}

.nav-btn .btn {
  text-transform: uppercase;
}

/* ---------------
    05. Hero area style
 ------------------*/
.hero-area {
  background: url(../images/hero.png) no-repeat center center;
  background-size: cover;
  height: 100vh;
  margin-top: -120px;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 0;
  color: var(--whiteColor);
  width: 970px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 992px) {
  .hero-content {
    width: 100%;
    padding: 150px 0;
  }
}

.hero-content h2 {
  font-size: 71px;
  font-weight: 700;
  line-height: 87.77px;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.hero-content h2 span {
  color: var(--lightRed);
}

@media (max-width: 767px) {
  .hero-content h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

.hero-content p {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .hero-content p {
    font-size: 20px;
    line-height: 25px;
  }
}

.hero-btn .btn {
  margin-right: 40px;
}

@media (max-width: 767px) {
  .hero-btn .btn {
    margin-right: 0;
  }
}

.hero-btn .play-btn {
  font-family: var(--headingFont);
  font-size: 20px;
  line-height: 28px;
  font-weight: 800;
}

.hero-btn .play-btn img {
  margin-right: 20px;
}

@media (max-width: 767px) {
  .hero-btn .play-btn {
    display: none;
  }
}

/* ---------------
    06. Category area style
 ------------------*/
.category-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

@media (max-width: 1366px) {
  .category-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 0 15px;
  }
}

@media (max-width: 767px) {
  .category-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 15px;
  }
}

.category-content {
  border-radius: 24px;
  padding: 90px 120px 36px 60px;
}

.category-content:nth-child(1) {
  background: #fbf3e8;
}

.category-content:nth-child(2) {
  background: #ffeeee;
}

.category-content:nth-child(3) {
  background: var(--themeColor);
}

.category-content:nth-child(3) .single-category {
  color: var(--whiteColor);
}

.category-content:nth-child(4) {
  background: #f3f9ff;
}

.category-content:nth-child(5) {
  background: #fbf3e8;
}

@media (min-width: 768px) and (max-width: 1366px) {
  .category-content:last-child {
    display: none;
  }
}

@media (max-width: 767px) {
  .category-content {
    padding: 40px;
  }
}

.single-category {
  color: var(--darkColor);
}

.single-category img {
  margin-bottom: 30px;
}

.single-category h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 38px;
}

.single-category p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 24px;
  margin-bottom: 0;
}

/* ---------------
    07. About area style
 ------------------*/
.about-content p,
.singer-content p {
  margin: 30px 0 80px 0;
  opacity: 0.7;
}

.about-img {
  padding-right: 30px;
}

@media (max-width: 767px) {
  .about-img {
    padding-right: 0px;
  }
}

.about-img img {
  width: 100%;
}

.singers-img img {
  width: 100%;
}

/* ---------------
    08. About area style
 ------------------*/
.single-pricing {
  -webkit-box-shadow: 0px 20px 100px rgba(34, 34, 34, 0.15);
          box-shadow: 0px 20px 100px rgba(34, 34, 34, 0.15);
  border-radius: 20px;
  padding: 30px;
  position: relative;
  border-top: 4px solid var(--darkColor);
}

@media (max-width: 992px) {
  .single-pricing {
    margin-bottom: 30px;
    padding: 70px 0;
  }
}

.single-pricing.standard-price {
  border-top: 4px solid var(--themeColor);
}

.single-pricing.standard-price h3,
.single-pricing.standard-price h2 {
  color: var(--themeColor);
}

.single-pricing.premium-price {
  border-top: 4px solid var(--generalRed);
}

.single-pricing.premium-price h3,
.single-pricing.premium-price h2 {
  color: var(--generalRed);
}

.pricing-content {
  text-align: center;
}

.pricing-content .price-offer {
  margin-bottom: 30px;
}

.pricing-content p {
  margin-bottom: 15px;
}

.pricing-content .unable {
  opacity: 0.5;
}

.price-title {
  margin-bottom: 30px;
}

.price-title h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 38px;
  margin-bottom: 15px;
}

.price-title h2 {
  font-size: 60px;
  line-height: 73px;
}

/* ---------------
    09. About area style
 ------------------*/
.branding-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brand-img {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 60px;
  -webkit-column-gap: 130px;
          column-gap: 130px;
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .brand-img {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    -webkit-column-gap: 60px;
            column-gap: 60px;
    padding: 20px;
  }
}

.brand-img img {
  text-align: center;
  width: 100%;
}

/* ---------------
    10. Testimonials area style
 ------------------*/
.testimonials-content {
  width: 770px;
  text-align: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 992px) {
  .testimonials-content {
    width: 100%;
  }
}

.testimonials-text {
  background: var(--lightColor);
  padding: 50px 60px 110px 60px;
}

.testimonials-text p {
  position: relative;
  opacity: 0.7;
}

.testimonials-text p::before, .testimonials-text p::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
}

.testimonials-text p::after {
  background: url(../images/icons/bottom.svg) no-repeat;
  bottom: -30px;
  right: -30px;
}

.testimonials-text p::before {
  background: url(../images/icons/top.svg) no-repeat;
  top: -15px;
  left: -30px;
}

.client-info {
  margin-top: -50px;
}

.client-info .client-thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-info a {
  color: var(--themeColor);
}

/* ---------------
    11. Blog area style
 ------------------*/
.blog-area {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 82, 82, 0.05)), to(rgba(252, 82, 82, 0)));
  background: linear-gradient(180deg, rgba(252, 82, 82, 0.05) 0%, rgba(252, 82, 82, 0) 100%);
  position: relative;
}

.blog-area::before {
  content: '';
  background: url(../images/icons/instagram-red.svg) no-repeat;
  position: absolute;
  top: 0;
  left: 47%;
  width: 410px;
  height: 410px;
  z-index: -1;
}

.single-blog.slick-slide {
  margin: 0 15px;
}

.single-post .post-thum {
  margin-bottom: 24px;
}

.single-post .post-thum img {
  display: block;
  width: 100%;
}

.single-post .post-widget {
  margin-bottom: 8px;
}

.single-post .post-widget li {
  display: inline-block;
  margin-right: 40px;
}

.single-post .post-widget img {
  display: inline-block;
  margin-right: 8px;
}

.single-post .post-caption a {
  margin-bottom: 8px;
}

.single-post .post-caption .post-tag {
  opacity: 0.5;
}

/* ---------------
    12. Event schedule area style
 ------------------*/
.event-schedule-area {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(56, 29, 219, 0.05)), to(rgba(56, 29, 219, 0)));
  background: linear-gradient(180deg, rgba(56, 29, 219, 0.05) 0%, rgba(56, 29, 219, 0) 100%);
}

.event-tab-btn .nav-tabs {
  border-bottom: none;
}

.event-tab-btn .nav-link {
  font-family: var(--headingFont);
  font-size: 24px;
  padding: 0 50px 20px 0;
  margin-right: 20px;
  background: 0 0;
  border: none;
  border-bottom: 4px solid;
  border-color: var(--borderColor);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 40px;
  color: var(--darkColor);
}

.event-tab-btn .nav-link:last-of-type {
  margin-right: 0;
}

.event-tab-btn .nav-link span {
  display: block;
  font-size: 16px;
  opacity: 0.5;
  font-weight: bold;
  line-height: 20px;
  margin-top: 8px;
}

.event-tab-btn .nav-link.active {
  background: transparent;
  color: var(--themeColor);
  opacity: 1;
  border-color: var(--themeColor);
}

.event-time-table {
  border-radius: 40px;
  background: transparent;
  border: 1px solid var(--borderColor);
}

.event-content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: centers;
      -ms-flex-pack: centers;
          justify-content: centers;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  background: #efecfc;
  border-radius: 40px 40px 0 0;
}

.event-content-title p {
  margin-bottom: 0;
  padding: 40px;
}

.event-content-title p:nth-child(1) {
  -webkit-box-flex: 1.5;
      -ms-flex-positive: 1.5;
          flex-grow: 1.5;
}

.event-content-title p:nth-child(2) {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.event-content-title p:nth-child(3) {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.single-time-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px solid #efecfc;
}

.event-tab-wrapper {
  border: 1px solid #efecfc;
  border-radius: 50px;
  overflow: hidden;
}

.panel-heading {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  background: rgba(56, 29, 219, 0.05);
}

.panel-heading .heading-element {
  padding: 40px 0;
}

.panel-heading .heading-element h4 {
  margin: 0;
}

.panel-heading .heading-element:first-child {
  padding-left: 40px;
}

@media (max-width: 768px) {
  .panel-heading .heading-element:first-child {
    padding-left: 20px;
  }
}

.panel-heading .heading-element:nth-child(2) {
  grid-column: span 2;
  padding-left: 40px;
}

@media (max-width: 768px) {
  .panel-heading .heading-element:nth-child(2) {
    padding-left: 20px;
  }
}

.panel-heading .heading-element:nth-child(3) {
  padding-left: 40px;
}

.panel-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  padding: 40px 0;
  border-bottom: 1px solid #eee;
}

.panel-item:last-child {
  border-bottom: none;
}

.panel-item .panel-item-element:nth-child(1) {
  padding-left: 40px;
}

@media (max-width: 768px) {
  .panel-item .panel-item-element:nth-child(1) {
    padding-left: 20px;
  }
}

.panel-item .panel-item-element:nth-child(2) {
  grid-column: span 2;
  padding-left: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

@media (max-width: 768px) {
  .panel-item .panel-item-element:nth-child(2) {
    padding-left: 20px;
  }
}

.panel-item .panel-item-element:nth-child(3) {
  padding-left: 40px;
}

.panel-item .panel-item-element:nth-child(4) {
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .panel-item .panel-item-element:nth-child(4) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.speakers-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .speakers-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.speakers-info + .speakers-info {
  margin-top: 30px;
}

.speakers-info p {
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 8px;
}

.speakers-info p span {
  font-weight: 400;
  opacity: 0.5;
}

.event-demo {
  font-family: var(--headingFont);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.event-demo.live-btn {
  color: var(--generalRed);
}

.event-demo img {
  margin-left: 8px;
}

/* ---------------
    13. Contact area style
 ------------------*/
.contact-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-area .contact-info-wrapper {
  background: var(--themeColor);
  padding: 120px 35px 220px 80px;
  color: var(--whiteColor);
  -webkit-box-flex: 1.2;
      -ms-flex-positive: 1.2;
          flex-grow: 1.2;
  position: relative;
}

@media (max-width: 767px) {
  .contact-area .contact-info-wrapper {
    padding: 120px 50px 220px 50px;
  }
}

.contact-area .contact-info-wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../images/icons/form-shape.png) no-repeat;
  width: 200px;
  height: 200px;
}

.contact-area .contact-form-wrapper {
  background: var(--lightColor);
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 95px 130px;
  position: relative;
}

@media (max-width: 767px) {
  .contact-area .contact-form-wrapper {
    padding: 95px 50px;
  }
}

.contact-area .contact-form-wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 56px;
  background: url(../images/icons/form-shape2.png) no-repeat;
  width: 72px;
  height: 48px;
}

.contact-info .section-title {
  margin-bottom: 80px;
}

.contact-info .section-title p {
  opacity: 0.7;
  font-weight: 400;
}

.contact-info li {
  margin-bottom: 40px;
}

.contact-info li:last-child {
  margin-bottom: 0;
}

.contact-info li img {
  margin-right: 8px;
}

.contact-form-area {
  max-width: 570px;
}

.contact-form-area .contact-form-title h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 38px;
  color: var(--darkColor);
  margin-bottom: 30px;
}

.contact-form-area input {
  margin-bottom: 30px;
}

.contact-form-area label {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.contact-form-area .musik-form {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 0;
  border-radius: 0;
}

.contact-form-area .musik-form:focus {
  border-color: var(--themeColor);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-form-area .form-massage {
  color: var(--themeColor);
}

.contact-form-area #message {
  margin-bottom: 40px;
}

/* ---------------
    14. Footer area style
 ------------------*/
.footer-area {
  background: var(--darkColor);
  padding: 40px 0 20px 0;
}

.footer-logo {
  margin-bottom: 40px;
}

.footer-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-widget-link .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-widget-link a {
  color: var(--whiteColor);
  padding: 10px;
}

.footer-widget-link a:hover {
  color: var(--whiteColor);
}

.footer-social-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}

@media (max-width: 767px) {
  .footer-social-widget {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-social-widget a {
  margin-right: 30px;
}

.footer-social-widget .copy-info {
  font-size: 14px;
  color: var(--whiteColor);
  opacity: 0.3;
  margin: 0 0 0 100px;
}

@media (max-width: 767px) {
  .footer-social-widget .copy-info {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */