/* ===================================
Project Name 	:  Musik Concert Landing Page 
File 			:  CSS Base
Version 		:  1.0;
Author 			:  
Developer:		:  

=====================================*/

/* ==================================
CSS table Of content

    01. Base style
    02. Typography style

=====================================*/

@import 'helpers/variables';
@import 'helpers/breakpoints';

/* ----------------
    01. Base style
-------------------*/
@import 'base/base';

/* ---------------
    02. Typography style
 ------------------*/
@import 'components/_typography';

/* ---------------
    03. Buttons style
 ------------------*/
@import 'components/button';

/* ---------------
    04. Header area style
 ------------------*/
@import 'layout/header';

/* ---------------
    05. Hero area style
 ------------------*/
@import 'layout/hero';
/* ---------------
    06. Category area style
 ------------------*/
@import 'layout/category';
/* ---------------
    07. About area style
 ------------------*/
@import 'layout/about';
/* ---------------
    08. About area style
 ------------------*/
@import 'layout/pricing';
/* ---------------
    09. About area style
 ------------------*/
@import 'layout/branding';
/* ---------------
    09. About area style
 ------------------*/
@import 'layout/testimonials';

/* ---------------
    03. Footer area style
 ------------------*/
@import 'layout/footer';
