.blog-area {
	background: linear-gradient(
		180deg,
		rgba(252, 82, 82, 0.05) 0%,
		rgba(252, 82, 82, 0) 100%
	);
	position: relative;
	&::before {
		content: '';
		background: url(../images/icons/instagram-red.svg) no-repeat;
		position: absolute;
		top: 0;
		left: 47%;
		width: 410px;
		height: 410px;
		z-index: -1;
	}
}

.single-blog {
	&.slick-slide {
		margin: 0 15px;
	}
}
.single-post {
	.post-thum {
		margin-bottom: 24px;
		img {
			display: block;
			width: 100%;
		}
	}
	.post-widget {
		margin-bottom: 8px;
		li {
			display: inline-block;
			margin-right: 40px;
		}

		img {
			display: inline-block;
			margin-right: 8px;
		}
	}
	.post-caption {
		a {
			margin-bottom: 8px;
		}
		.post-tag {
			opacity: 0.5;
		}
	}
}
