.branding-area {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.brand-img {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	row-gap: 60px;
	column-gap: 130px;
	margin-bottom: 80px;
	img {
		text-align: center;
	}
}
