.category-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);

	@media (max-width: 1366px) {
		grid-template-columns: repeat(2, 1fr);
		padding: 0 15px;
	}
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		padding: 0 15px;
	}

	grid-gap: 30px;
}
.category-content {
	border-radius: 24px;
	padding: 90px 120px 36px 60px;
	&:nth-child(1) {
		background: #fbf3e8;
	}
	&:nth-child(2) {
		background: #ffeeee;
	}
	&:nth-child(3) {
		background: var(--themeColor);
		.single-category {
			color: var(--whiteColor);
		}
	}
	&:nth-child(4) {
		background: #f3f9ff;
	}
	&:nth-child(5) {
		background: #fbf3e8;
	}
	@media (min-width: 768px) and (max-width: 1366px) {
		&:last-child {
			display: none;
		}
	}
	@media (max-width: 767px) {
		padding: 40px;
	}
}

.single-category {
	color: var(--darkColor);

	img {
		margin-bottom: 30px;
	}
	h3 {
		font-size: 24px;
		font-weight: 800;
		line-height: 38px;
	}
	p {
		font-size: 16px;
		font-weight: 400;
		opacity: 0.7;
		line-height: 24px;
		margin-bottom: 0;
	}
}
