.event-schedule-area {
	background: linear-gradient(
		180deg,
		rgba(56, 29, 219, 0.05) 0%,
		rgba(56, 29, 219, 0) 100%
	);
}
.event-tab-btn {
	.nav-tabs {
		border-bottom: none;
	}
	.nav-link {
		font-family: var(--headingFont);
		font-size: 24px;
		padding: 0 50px 20px 0;
		margin-right: 20px;
		background: 0 0;
		border: none;
		border-bottom: 4px solid;
		border-color: var(--borderColor);
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		flex-grow: 1;
		text-align: left;
		opacity: 0.7;
		margin-bottom: 40px;

		&:last-of-type {
			margin-right: 0;
		}
		color: var(--darkColor);
		span {
			display: block;
			font-size: 16px;
			opacity: 0.5;
			font-weight: bold;
			line-height: 20px;
			margin-top: 8px;
		}
		&.active {
			background: transparent;
			color: var(--themeColor);
			opacity: 1;
			border-color: var(--themeColor);
		}
	}
}

.event-time-table {
	border-radius: 40px;
	background: transparent;
	border: 1px solid var(--borderColor);
}
.event-content-title {
	display: flex;
	justify-content: centers;
	align-items: center;
	margin-bottom: 40px;
	background: #efecfc;
	border-radius: 40px 40px 0 0;
	p {
		margin-bottom: 0;
		padding: 40px;
		&:nth-child(1) {
			flex-grow: 1.5;
		}
		&:nth-child(2) {
			flex-grow: 2;
		}
		&:nth-child(3) {
			flex-grow: 2;
		}
	}
}

.single-time-event {
	display: flex;
	justify-content: space-between;
	padding: 0 40px;
	border-bottom: 1px solid #efecfc;
}

.event-tab-wrapper {
	border: 1px solid #efecfc;
	border-radius: 50px;
	overflow: hidden;
}
.panel-heading {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background: rgba($color: #381ddb, $alpha: 0.05);
	.heading-element {
		padding: 40px 0;

		h4 {
			margin: 0;
		}
		&:first-child {
			padding-left: 40px;
			@media (max-width: 768px) {
				padding-left: 20px;
			}
		}
		&:nth-child(2) {
			grid-column: span 2;
			padding-left: 40px;
			@media (max-width: 768px) {
				padding-left: 20px;
			}
		}
		&:nth-child(3) {
			padding-left: 40px;
		}
	}
}
.panel-item {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding: 40px 0;
	border-bottom: 1px solid #eee;
	&:last-child {
		border-bottom: none;
	}
	.panel-item-element {
		&:nth-child(1) {
			padding-left: 40px;
			@media (max-width: 768px) {
				padding-left: 20px;
			}
		}
		&:nth-child(2) {
			grid-column: span 2;
			padding-left: 40px;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
			@media (max-width: 768px) {
				padding-left: 20px;
			}
		}
		&:nth-child(3) {
			padding-left: 40px;
		}
		&:nth-child(4) {
			padding-right: 40px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			@media (max-width: 768px) {
				flex-direction: column;
				padding-right: 20px;
				justify-content: flex-start;
			}
		}
	}
}

.speakers-info {
	display: flex;
	align-items: center;
	@media (max-width: 768px) {
		flex-direction: column;
	}
	& + .speakers-info {
		margin-top: 30px;
	}
	p {
		font-weight: 700;
		margin-bottom: 0;
		margin-left: 8px;
		span {
			font-weight: 400;
			opacity: 0.5;
		}
	}
}

.event-demo {
	font-family: var(--headingFont);
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	&.live-btn {
		color: var(--generalRed);
	}
	img {
		margin-left: 8px;
	}
}
