.footer-area {
	background: var(--darkColor);
	padding: 40px 0 20px 0;
}
.footer-logo {
	margin-bottom: 40px;
}
.footer-widget {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.footer-widget-link {
	.footer-menu {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	a {
		color: var(--whiteColor);
		padding: 10px;
		&:hover {
			color: var(--whiteColor);
		}
	}
}

.footer-social-widget {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px 0;
	@media (max-width: 767px) {
		justify-content: center;
	}
	a {
		margin-right: 30px;
	}
	.copy-info {
		font-size: 14px;
		color: var(--whiteColor);
		opacity: 0.3;
		margin: 0 0 0 100px;
		@media (max-width: 767px) {
			margin-left: 0;
		}
	}
}
