.footer-area {
	background: $dark-color;
	padding: 40px 0 20px 0;
}
.footer-logo {
	margin-bottom: 40px;
}
.footer-widget {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-widget-link {
	a {
		color: $white-color;
		&:hover {
			color: $white-color;
		}
	}
}

.footer-social-widget {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	a {
		margin-left: 30px;
	}
	.copy-info {
		font-size: 14px;
		color: $white-color;
		opacity: 0.3;
		margin: 0 0 0 100px;
	}
}
.footer-widget-link {
	ul {
		li:first-child {
			margin-left: -20px;
		}
	}
}
