.header-area {
	color: var(--whiteColor);
	height: 120px;
	line-height: 120px;
	@media (max-width: 768px) {
		height: 80px;
		line-height: 80px;
	}
	a {
		color: var(--whiteColor);
		@media (max-width: 768px) {
			padding: 5px 0;
		}
	}
	position: relative;
	z-index: 1;
}
.main-nav-bar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	@media (max-width: 768px) {
		display: block;
	}
	.btn {
		margin-left: 20px;
		@media (max-width: 768px) {
			width: 100%;
			margin-left: 0;
		}
	}
}
.nav-bar-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	@media (max-width: 768px) {
		justify-content: start;
		align-items: flex-start;
		flex-direction: column;
	}
}
.navbar-light .navbar-toggler {
	background: var(--whiteColor);
}
.navbar-toggler:focus {
	box-shadow: none;
}
.nav-link:focus,
.nav-link:hover {
	color: inherit;
}
.nav-link {
	font-family: var(--headingFont);
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 20px;
	padding: 0 20px;
}

.nav-btn {
	.btn {
		text-transform: uppercase;
	}
}
