.hero-area {
	background: url(../images/hero.png) no-repeat center center;
	background-size: cover;
	height: 100vh;
	margin-top: -120px;
}
.hero-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 200px 0;
	color: var(--whiteColor);
	width: 970px;
	margin: 0 auto;
	text-align: center;
	@media (max-width: 992px) {
		width: 100%;
	}
	h2 {
		font-size: 71px;
		font-weight: 700;
		line-height: 87.77px;
		text-transform: capitalize;
		margin-bottom: 40px;
		span {
			color: var(--lightRed);
		}
		@media (max-width: 767px) {
			font-size: 40px;
			line-height: 50px;
		}
	}
	p {
		font-size: 24px;
		font-weight: 400;
		line-height: 38px;
		margin-bottom: 40px;
		@media (max-width: 767px) {
			font-size: 20px;
			line-height: 25px;
		}
	}
}

.hero-btn {
	.btn {
		margin-right: 40px;
		@media (max-width: 767px) {
			margin-right: 0;
		}
	}
	.play-btn {
		font-family: var(--headingFont);
		font-size: 20px;
		line-height: 28px;
		font-weight: 800;
		img {
			margin-right: 20px;
		}
		@media (max-width: 767px) {
			display: none;
		}
	}
}
