// Button style
.btn {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: bold;
	height: 60px;
	line-height: 60px;
	padding: 0 34px;
	border-radius: 8px;
	color: $white-color;
	transition: all(0.3s);
	background: var(--themeColor);

	&:hover {
		background: $general-red;
		color: $white-color;
	}
	img {
		margin-left: 15px;
	}
	&.btn-outline {
		color: var(--themeColor);
		background: transparent;
		border: 1px solid var(--themeColor);
		&:hover {
			background: var(--themeColor);
			color: $white-color;
		}
	}
	&.btn-full-width {
		width: 100%;
	}
}

.btn-white {
	background: $white-color;
	color: var(--themeColor);
}
.btn-read {
	background: $general-red;
	color: $white-color;
	&:hover {
		background: $white-color;
		color: var(--themeColor);
	}
}
