// Button style
.btn {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	height: 60px;
	line-height: 60px;
	padding: 0 34px;
	border-radius: 8px;
	color: var(--whiteColor);
	transition: all(0.3s);
	background: var(--themeColor);

	&:hover {
		background: var(--generalRed);
		color: var(--whiteColor);
	}
	img {
		margin-left: 15px;
	}
	&.btn-outline {
		color: var(--themeColor);
		background: transparent;
		border: 1px solid var(--themeColor);
		&:hover {
			background: var(--themeColor);
			color: var(--whiteColor);
		}
	}
	&.btn-full-width {
		width: 100%;
	}
}

.btn-white {
	background: var(--whiteColor);
	color: var(--themeColor);
}
.btn-read {
	background: var(--generalRed);
	color: var(--whiteColor);
	&:hover {
		background: var(--whiteColor);
		color: var(--themeColor);
	}
}
