@media (min-width: 1400px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1170px;
	}
}

@media (max-width: 767px) {
	.about-img {
		img {
			width: 100%;
		}
	}

	.about-content {
		text-align: center;
	}

	.section-title {
		margin-top: 30px;
	}

	.singer-content {
		text-align: center;
	}

	.singer-btn {
		margin-bottom: 30px;
	}
}
