// font variables
$montserrat-font: 'Montserrat', sans-serif;
$raleway-font: 'Raleway', sans-serif;

// Color variables
$theme-color: #381ddb;
$white-color: #ffffff;
$dark-color: #222222;
$light-red: #ffa3a3;
$general-red: #fc5252;
$light-gray: #f8f8f8;
$yellow-color: #db841d;
$gray-color: #e0e0e0;
$border-color: #e0e0e0;
