// root variables
:root {
	--headingFont: 'Montserrat', sans-serif;
	--bodyFont: 'Raleway', sans-serif;
	--themeColor: #381ddb;
	--whiteColor: #ffffff;
	--darkColor: #222222;
	--generalRed: #fc5252;
	--lightRed: #ffa3a3;
	--grayColor: #e0e0e0;
	--lightColor: #f8f8f8;
	--yellowColor: #db841d;
	--borderColor: #e0e0e0;
}
